@use "@/styles/functions.scss" as *;

.app-header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.pb-0 {
		padding-bottom: 0;
	}

	svg {
		width: rem(20);
		height: rem(20);
		color: var(--sub-color);
	}

	&__logo {
		display: flex;
		gap: rem(6);
		align-items: center;
		cursor: pointer;
		padding: 0.25em 0.5em 0.25em 0;

		h2 {
			line-height: 1;
		}

		svg {
			width: rem(28);
			height: rem(28);
			color: var(--main-color);
		}
	}

	&__nav-menu {
		margin-right: auto;
	}

	&__service-menu {
		display: flex;
		align-items: center;
		// gap: rem(12);
	}

	@media only screen and (max-width: calc(1024px + 5rem)) {
		&__logo h2 {
			font-size: 1.5rem;
		}
	}

	@media only screen and (max-width: calc(640px + 5rem)) {
		&__logo h2 {
			display: none;
		}
	}
}

