@use "@/styles/functions.scss" as *;

.app-header {
	display: flex;
	grid-column: content;
	justify-content: space-between;
	align-items: center;

	&__logo {
		display: flex;
		gap: rem(6);
		align-items: center;
		cursor: pointer;
		svg {
			width: rem(28);
			height: rem(28);
			color: var(--main-color);
		}
	}

	&__menu {
		display: flex;
		align-items: center;
		// gap: rem(12);
		svg {
			width: rem(20);
			height: rem(20);
			color: var(--sub-color);
		}
	}

	@media only screen and (max-width: calc(1024px + 5rem)) {
		&__logo h2 {
			font-size: 1.5rem;
		}
	}

	@media only screen and (max-width: calc(640px + 5rem)) {
		&__logo h2 {
			display: none;
		}
	}
}
