{
	"tabWidth": 4,
	"useTabs": true,
	"bracketSpacing": true,
	"singleQuote": false,
	"endOfLine": "crlf",
	"trailingComma": "all",
	"semi": false,
	"plugins": [
		"@trivago/prettier-plugin-sort-imports"
	],
	"importOrder": [
		"^react(.*)$",
		"^@gravity-ui/(.*)$",
		"<THIRD_PARTY_MODULES>",
		"^@/assets",
		"^@/styles",
		"^@/types",
		"^@/api",
		"^@/store",
		"^@/store/(.*)$",
		"^@/features/(.*)$",
		"^@/utils/(.*)$",
		"^@/components/(.*)$",
		"^@/layout/(.*)$",
		"^@/pages/(.*)$",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}