@use "./variables.scss" as *;
@use "./functions.scss" as *;
@use "@fontsource-variable/geist-mono" as *;

* {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Geist Mono Variable', monospace;
	color: var(--text-color);
	background: var(--bg-color);
	overflow: hidden;
	caret-color: var(--caret-color);

	::-webkit-scrollbar {
		display: none;
	}

	#root {
		height: 100%;
		overflow: hidden;
	}

	p {
		font-size: rem(13);
		line-height: rem(16);
		font-weight: 400;
		margin: 0;
	}

	h1 {
		font-size: rem(32);
		line-height: rem(40);
		font-weight: 700;
		margin: 0;
	}
	h2 {
		font-size: rem(28);
		line-height: rem(36);
		font-weight: 600;
		margin: 0;
	}
	h3 {
		font-size: rem(24);
		line-height: rem(28);
		font-weight: 600;
		margin: 0;
	}

	h4{
		font-size: rem(20);
		line-height: rem(24);
		font-weight: 500;
		margin: 0;
	}
}

// .styled-notifications-success {
// 	background-color: rgba(85, 85, 85, 0.124);
// 	backdrop-filter: blur(8px);
// 	border: 1px solid rgba(255, 255, 255, 0.124);
// 	box-shadow: 0 0px 25px rgba(7, 188, 13, 0.277);
// 	color: #d0d0d2;

// 	.Toastify__progress-bar--success {
// 		background: rgba(7, 188, 12, 1);
// 		height: 2px;
// 	}
// }

// .styled-notifications-error {
// 	background-color: rgba(85, 85, 85, 0.124);
// 	backdrop-filter: blur(8px);
// 	border: 1px solid rgba(255, 255, 255, 0.124);
// 	box-shadow: 0 0px 25px rgba(188, 31, 7, 0.277);
// 	color: #d0d0d2;
// 	.Toastify__progress-bar--error {
// 		background: rgba(231, 77, 60, 0.742);
// 		height: 2px;
// 	}
// }

.centered-class {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px;
}

@keyframes react-loading-skeleton {
	100% {
	  transform: translateX(100%);
	}
  }
  
  .react-loading-skeleton {
	--base-color: var(--sub-color);
	--highlight-color: var(--bg-color);
	--animation-duration: 1.5s;
	--animation-direction: normal;
	--pseudo-element-display: block; /* Enable animation */
  
	background-color: var(--base-color);
  
	width: 100%;
	border-radius: 0.25rem;
	display: inline-flex;
	line-height: 1;
  
	position: relative;
	user-select: none;
	overflow: hidden;
  }
  
  .react-loading-skeleton::after {
	content: ' ';
	display: var(--pseudo-element-display);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	background-repeat: no-repeat;
	background-image: var(
	  --custom-highlight-background,
	  linear-gradient(
		90deg,
		var(--base-color) 0%,
		var(--highlight-color) 50%,
		var(--base-color) 100%
	  )
	);
	transform: translateX(-100%);
  
	animation-name: react-loading-skeleton;
	animation-direction: var(--animation-direction);
	animation-duration: var(--animation-duration);
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
  }
  
  @media (prefers-reduced-motion) {
	.react-loading-skeleton {
	  --pseudo-element-display: none; /* Disable animation */
	}
  }