@use "@/styles/functions.scss" as *;

.sub-button {
	display: flex;
	flex-direction: row;
	gap: 0.25rem;
	align-items: center;
	padding: 0.25em 0.5em;

	&__title {
		p {
			line-height: 1;
			font-weight: 400;
			color: var(--sub-color);
			transition: 0.125s;
		}
	}

	&__icon {
		display: flex;
		align-items: center;
		svg {
			height: rem(12);
			width: rem(12);
			color: var(--sub-color);
			line-height: 1;
			transition: 0.125s;
		}
	}
}

.sub-button.active {
	.sub-button__title {
		p {
			color: var(--main-color);
		}
	}

	.sub-button__icon {
		svg {
			color: var(--main-color);
		}
	}
}

.sub-button:hover {
	cursor: pointer;

	.sub-button__title p {
		color: var(--text-color);
		transition: 0.125s;
	}

	.sub-button__icon svg {
		color: var(--text-color);
		transition: 0.125s;
	}
}

.sub-button.bold {
	.sub-button__title p {
		font-weight: 700;
	}
}
