@use "@/styles/functions.scss" as *;

.custom-input {
	.ant-input-affix-wrapper {
		background-color: var(--sub-alt-color);
		border-color: transparent;
		border-width: 2px;
		transition: 0.3s;

		.ant-input {
			color: var(--text-color);
		}
	}

	.ant-input-borderless{
		background-color: transparent;
	}

	.ant-input-outlined:hover {
		transition: 0.3s;
		border-color: var(--sub-color);
		border-width: 2px;
	}

	.ant-input-outlined:focus-within {
		transition: 0.3s;
		box-shadow: unset;
		border-color: var(--sub-color);
	}

	.ant-input-outlined.ant-input-status-error:not(.ant-input-disabled){
		transition: 0.3s;
		background: unset;
		border-width: 2px;
		border-color: var(--error-color);
	}
}

