@use "@/styles/functions.scss" as *;

.custom-input {
	.g-text-input {
        transition: 0.5s;
		.g-text-input__content {
			background-color: var(--sub-alt-color);
			border-radius: rem(8);
			border: none;

			.g-text-input__control::placeholder {
				color: var(--sub-color);
			}
		}

		.g-outer-additional-content__error {
			font-size: rem(10);
			color: var(--error-color);
			margin-left: rem(6);
		}
	}

	.g-text-input.g-text-input_state_error {
		caret-color: var(--error-color);
		.g-text-input__content {
			transition: 0.5s;
			border: 1px solid var(--error-color);
		}
	}
}

