@use "@/styles/functions.scss" as *;

.theme-switcher {
	.ant-modal-content {
		padding: 0;
		background-color: transparent;
	}

	&__content {
		width: 100%;
		max-height: 400px;
		background-color: var(--bg-color);
		border: solid var(--sub-alt-color) rem(3);
		border-radius: rem(12);
		display: flex; // Добавляем flex-контейнер
		flex-direction: column; // Элементы идут вертикально
		align-items: stretch;
		gap: rem(12);
		overflow: hidden;

		.content-search {
			display: grid;
			grid-template-columns: auto 1fr;
			padding: rem(12) rem(12) 0 rem(12);
			grid-gap: rem(12);
			align-items: center;
			width: 100%; // Позволяет занять всю доступную ширину
			min-width: 0; // Предотвращает переполнение

			&__icon {
				display: flex;
				align-items: center;

				svg {
					width: rem(18);
					height: rem(18);
					fill: var(--sub-color);
				}
			}
		}

		.content-filter {
			padding: rem(12) rem(12) 0 rem(12);
		}

		.content-theme-list {
			overflow-y: auto;
		}
	}
}

