@use "@/styles/functions.scss" as *;

.custom-button {
	.ant-btn-color-default {
		color: var(--sub-color);
		box-shadow: unset;
	}
	.ant-btn {
		background-color: var(--sub-alt-color);
		border-width: 2px;
		border-color: transparent;
	}
}

.custom-button.disabled {
	opacity: 0.6;
}

.ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover {
	background-color: var(--sub-color);
	border-color: transparent;
	color: var(--text-color);
}

.custom-button:hover {
}

