@use "@/styles/functions.scss" as *;

.main-text-area {
	display: flex;
	align-items: center;
	outline: none;
	&__text {
		height: min-content;
		outline: none;
		display: flex;
		flex-wrap: wrap;
		row-gap: rem(12);

		.text-caret {
			position: absolute;
			height: rem(28);
			width: 2px;
			background-color: var(--caret-color);
			animation: caretFlashSmooth 1s infinite;
		}

		.text-word {
			min-height: rem(28);
			min-width: rem(16);
			.letter {
				font-size: rem(28);
				line-height: 1em;
			}

			.letter.incomplete {
				color: var(--sub-color);
			}

			.letter.correct {
				color: var(--text-color);
			}

			.letter.incorrect {
				color: var(--error-color);
			}
		}
	}
}

@keyframes caretFlashSmooth {
	0%,
	100% {
	  opacity: 0;
	}
  
	50% {
	  opacity: 1;
	}
  }