@use "@/styles/functions.scss" as *;

.main-text-area {
	display: flex;
	align-items: center;
	outline: none;
	&__text {
		height: min-content;
		outline: none;
		display: flex;
		flex-wrap: wrap;

		.text-caret {
			position: absolute;
			height: rem(28);
			width: 2px;
			background-color: var(--caret-color);
			animation: caretFlashSmooth 1s infinite;
		}

		.text-word {
			min-height: rem(28);
			min-width: rem(10);
			.letter {
				min-width: rem(10);
				font-size: rem(28);
				display: inline-block;
				height: 100%;
			}

			.letter.incomplete {
				color: var(--sub-color);
			}

			.letter.correct {
				color: var(--text-color);
			}

			.letter.incorrect {
				color: var(--error-color);
			}
		}
	}
}

@keyframes caretFlashSmooth {
	0%,
	100% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}
}

