@use "@/styles/functions.scss" as *;

.lessons-page {
	display: grid;
	grid-template-rows: 0.5fr auto 1fr;

	&__lesson-info {
		display: flex;
		flex-direction: column;
		gap: rem(12);

		p {
			color: var(--sub-color);
		}

		.lesson-info-description {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: rem(12);

			p {
				line-height: 1;
			}

			h4 {
				line-height: 1;
			}
		}

		.lesson-info-progress {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
