@use "@/styles/functions.scss" as *;

.main-page {
	height: 100%;
	overflow: hidden;
	padding-top: rem(24);
	padding-bottom: rem(24);
	display: grid;
    grid-template-rows: 0.5fr auto 1fr;

	// &__content {
	// 	display: flex;
	// 	flex-direction: column;
	// 	gap: 2rem;
	// 	align-items: center;
		
	// }
}
