@use "@/styles/functions.scss" as *;

.list-element {
	width: 100%;
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-gap: rem(8);
	align-items: center;
	padding: rem(8) rem(16);
	transition: 0.125s;

	&__title {
		font-size: rem(12);
		line-height: rem(12);
		font-weight: 400;
		color: var(--sub-color);
	}

	&__start-content {
		width: rem(12);
		display: flex;
		align-items: center;
		svg {
			width: rem(12);
			height: rem(12);
			color: var(--sub-color);
		}
	}
}

.g-list {
	&__items {
		.g-list__item_active {
			.list-element {
				transition: 0.125s;
				background-color: var(--text-color);
				&__title {
					color: var(--bg-color);
				}
			}
		}
	}
}

.list-element.active {
	background-color: var(--text-color);
	&__title {
		color: var(--bg-color);
	}
}

// .list-element:hover {
// 	transition: 0.125s;
// 	cursor: pointer;
// 	background-color: var(--text-color);

// 	.list-element__title {
// 		color: var(--bg-color);
// 	}
// }

